[submodule "MCAD"]
	path = MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "gears"]
	path = gears
	url = https://github.com/chrisspen/gears.git
[submodule "NopSCADlib"]
	path = NopSCADlib
	url = https://github.com/nophead/NopSCADlib.git
